altair==5.5.0
beautifulsoup4==4.12.3
catboost==1.2.8
joblib==1.4.2
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.2
Pillow==10.4.0
plotly==6.3.0
protobuf==5.29.4
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
streamlit==1.44.1
xgboost==3.0.4
dill